*{
    font-family: 'Montserrat', sans-serif; /* police de caractères */
}

.loading-overlay {
    position: fixed; /* position fixe */
    top: 0; /* tire vers le haut */
    left: 0; /* tire vers la gauche */
    width: 100%; /* largeur */
    height: 100%; /* hauteur */
    background-color: #f794136c; /* Couleur de fond semi-transparente */
    backdrop-filter: blur(5px); /* Effet de flou */
    display: flex; /* Affiche les éléments en ligne */
    justify-content: center; /* Centre les éléments en ligne */
    align-items: center; /* Centre les éléments en colonne */
    z-index: 9999; /* Assure que l'overlay est au-dessus du contenu */
    transition: opacity 3s ease; /* Animation du chargement */
}

.loading-image {
    margin: auto; /* centre le texte */
    width: 250px; /* largeur */
    height: 250px; /* hauteur */
    background-image: url("../Images/logo.png"); /* Chemin vers votre image de chargement */
    background-size: cover; /* Taille de l'image */
    animation: spin 2s linear infinite; /* Animation du chargement */
}

@keyframes spin { /* Animation du chargement */
    0% { 
        transform: rotate(0deg); /* Rotation de 0 degrés */
    }
    100% {
        transform: rotate(-360deg); /* Rotation de 360 degrés */
    }
}

body{
    height: 100%;
    margin: 0; /* retire les marges */
    margin-bottom: 4em; /* marge intérieure du bas */
}

header {
    background-color: rgb(14, 40, 177, 0.8); /* couleur de fond */
    background-size: 200% 100%; /* Taille de l'image */
}

header h1{
    margin: auto; /* centre le texte */
    padding: 60px; /* marge intérieure */
    text-align: center; /* centre le texte */
    font-size: 100px; /* taille de la police */
    font-weight: bold;
}

/* style si l'écran est plus petit que 1080px */
@media screen and (max-width: 1080px) { 
    header h1{
        font-size: 70px; /* taille de la police */
    }
}

/* Animation du logo pour écran de plus de 1080px */
@keyframes tourLogo { 
    0% {
        transform: translateX(-2000%); /* position de départ de la boucle */
    }
    100% {
        transform: translateX(2000%); /* position de fin */
    }
}

/* Animation du logo pour écran de moins de 1080px */
@keyframes tourLogo2 { 
    0% {
        transform: translateX(-1000%); /* position de départ de la boucle */
    }
    100% {
        transform: translateX(400%); /* position de fin */
    }
}    

.logo{
    position: absolute; /* position fixe */
    top: 155px; /* tire vers le haut */
    height: 100px; /* hauteur */
    width: 100px; /* largeur */
    animation: tourLogo 15s linear infinite; /* animation */
}

/* style si l'écran est plus petit que 1080px */
@media screen and (max-width: 1080px) { 
    .logo{
        animation: tourLogo2 8s linear infinite; /* animation */
        position: absolute; /* position fixe */
        top: 117px; /* tire vers le haut */
    }
}

nav{
    display: flex; /* affiche les éléments en ligne */
    justify-content: center; /* centre les éléments en ligne */
    justify-content: space-around; /* modifie la disposition des éléments */
    background-color: #000000; /* couleur de fond */
    height: 50px; /* hauteur */
}

nav a{
    display: flex; /* affiche les éléments en ligne */
    justify-content: center; /* centre les éléments en ligne */
    justify-content: space-around; /* modifie la disposition des éléments */
    margin: auto; /* centre le texte */
    text-decoration: none; /* retire le soulignement des liens */
    color: #000000; /* couleur du texte */
    font-size: 20px; /* taille de la police */
    background-color: rgba(255, 255, 255, 0.5); /* couleur de fond */
    border-radius: 20px; /* angle de la bordure */
    width: 200px /* largeur */
}

/* style si l'écran est plus petit que 1080px */
@media screen and (max-width: 1080px) { 
    nav a{
        display: none /* affiche les éléments en ligne */
    }  
}

.menu{
    position: absolute; /* position fixe */
    top: 208px; /* tire vers le haut */
    right: 10%; /* tire vers la droite */
    width: 45px; /* largeur */
}

/* style si l'écran est plus grand que 1080px */
@media screen and (min-width: 1080px) { 
    .menu{ 
        display: none /* n'affiche pas les éléments */
    }    
}

#pagehamburger{
    position:absolute; /* position fixe */
    margin: 0; /* retire les marges */
    top: 257px; /* tire vers le haut */
    left: -1000%; /* tire vers la gauche */
    width: 100%; /* largeur */
    background-color: rgba(255, 255, 255, 0.2); /* couleur de fond */
    backdrop-filter: blur(10px); /* Effet de flou */
    z-index: 2; /* Assure que l'overlay est au-dessus du contenu */
    border-radius: 5px; /* angle de la bordure */
}

/* style si l'écran est plus grand que 1080px */
@media screen and (min-width: 1080px) { 
    #pagehamburger{
        display: none /* n'affiche pas les éléments */
    }    
}

#menunav{
    position: sticky; /* position fixe */
    display: flex; /* affiche les éléments en ligne */
    justify-content: center; /* centre les éléments en ligne */
    flex-direction: column; /* disposition des éléments */
    gap: 50px; /* marge intérieure */
    font-size: 2em; /* taille de la police */
    padding: 2em; /* marge intérieure */
}

#menunav li{
    list-style: none; /* retire les puces */
}

#menunav a{
    text-decoration: none; /* retire le soulignement des liens */
    color: #000000; /* couleur du texte */
}

#menunav a:hover{
    color: rgba(14, 40, 177, 0.8); /* couleur du texte */
}

main{
    text-align: left; /* centre le texte */
    padding: 1em; /* marge intérieure */
    font-size: 15px; /* taille de la police */
    background-color: rgba(14, 40, 177, 0.3); /* couleur de fond */
    height: max-content; /* hauteur */
}

main p{
    text-align: center; /* centre le texte */
    max-width: 1500px; /* largeur maximale */
}

@media screen and (min-width: 1080px) {
    main{
        text-align: center; /* centre le texte */
    }  
    * {
        list-style: none; /* retire les puces */
    }
    main ul{
        background-color: rgba(0, 0, 0, 0.3); /* couleur de fond */
        border-radius: 500px; /* angle de la bordure */
    }
}

/* Slideshow container */
.slideshow-container {
    max-width: 250px; /* largeur maximale */
    position: relative; /* position fixe */
    margin: auto; /* centre le texte */
    border: 5px solid rgba(14, 40, 177, 0.3); /* couleur de fond */
    border-radius: 5px; /* angle de la bordure */
}

/* Boutons pour les slides */
.prev,
.next {
    display: none;
    cursor: pointer; /* pointeur */
    position: absolute; /* position fixe */
    top: 50%; /* tire vers le haut */
    width: auto; /* largeur */
    margin-top: -22px; /* marge intérieure */
    padding: 16px; /* marge intérieure */
    color: white; /* couleur du texte */
    font-weight: bold; /* taille de la police */ 
    font-size: 18px; /* taille de la police */ 
    transition: 0.6s ease; /* animation */
    border-radius: 0 3px 3px 0; /* angle de la bordure */
    user-select: none; /* retire l'effet de sélection */
}


/* Au survol, ajoute une couleur de fond noire avec un peu de transparence. */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* couleur de fond */
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2; /* couleur du texte */
    font-size: 12px; /* taille de la police */
    padding: 8px 12px; /* marge intérieure */
    position: absolute; /* position fixe */
    top: 0; /* tire vers le haut */
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer; /* pointeur */
    height: 15px; /* hauteur */
    width: 15px; /* largeur */
    margin: 0 2px; /* marge intérieure */
    background-color: #bbb; /* couleur de fond */
    border-radius: 50%; /* angle de la bordure */
    display: inline-block; /* affiche les éléments en ligne */
    transition: background-color 0.6s ease; /* animation */
}

.active,
.dot:hover {
    background-color: #717171; /* couleur de fond */
}

/* Fading animation */
.fade {
    animation-name: fade; /* animation */
    animation-duration: 1.5s; /* animation duration */
}

/* animation  */
@keyframes fade {
    from {
        opacity: .4 
    }

    to {
        opacity: 1
    }
}

footer{
    position: fixed; /* position fixe */
    bottom: 0; /* retire le bas */
    left: 0; /* retire le gauche */
    height: 4em; /* hauteur */
    width: 100%; /* largeur */
    background-color: rgba(0, 0, 0, 1); /* couleur de fond */
}

footer p{
    width: 100%; /* largeur */
    text-align: center; /* centre le texte */
    font-size: 15px; /* taille de la police */
    color: #FFFFFF; /* couleur du texte */
}
